body img.bg{
    /*width: 100%;*/
    /*height: auto;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1
}
nav{
    margin-bottom: 10vh;
}
.content{
    margin-top: 20vh;
    margin-bottom: 15vh;
    /*transform: translateY(-50%);*/
}
.footer{
    color: #222222;
    /*position: fixed;*/
    /*bottom: 0;*/
}