
	
/*内容*/	
	*{
			      margin:0;
				  padding:0;
			 }
	html,body{
	      margin:0;
		  padding:0;
		  margin-top:0px;
		  background-image: url("../images/index_bg_xl.jpg");
	      background-repeat: no-repeat;
	      background-attachment: fixed;
	      background-size: cover;
		  font-size:18px;
		  color:;      
	}
}	
		
		
/*底部*/
		 footer {
    background-color: rgba(255,255,255,0.8);
    font-size: 14px;
    color: #999;
    padding: 40px 0;
    margin-top: 400px;
	margin-bottom:0px;
	width:100%;
	
}
.contact {
    height: 70px;
    width: 100%;
    text-align: center;
}

.contact .phone {
    margin-top: 10px;
}

.contact .email {
    margin-top: 8px;
}		